<div class="card bg-light">
  <img src="https://images.unsplash.com/photo-1519337265831-281ec6cc8514?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8OXx8YmxvZ3xlbnwwfHwwfHw%3D&w=1000&q=80" class="card-img" alt="delivery">
  <div class="card-img-overlay">
    <h2 class="card-title color">Обо мне</h2>
    <h5 class="color">История</h5>
    <p class="card-text" style="color: beige">
      История моего началась в 2015 году, когда я решила написать что-то о себе,
      тогда выпускница университета в АУЦА, сформулировала революционную систему, которая обеспечит безопасную доставку срочных отправлений -
      например, фармацевтических препаратов, электроники. В 2019 году он создал  компанию,
      ориентированную на доставку first overnight, и в результате навсегда изменил индустрию перевозок.
      На европейский рынок  мой блог вышел в 2020 год</p>
  </div>
</div>
