<div class="row mt-2">
  <div class="col-6">
    <h4>Create or edit post</h4>
    <form (ngSubmit)="createPost()">
      <div class="form-group">
        <label for="title">Title</label>
        <input type="text"
               name="title" id="title"
               class="form-control"
               #titleInput
        />
      </div>
      <div class="form-group">
        <label for="description">Description</label>
        <textarea
          name="description"
          id="description"
          class="form-control"
          #descriptionInput
        ></textarea>
      </div>
      <button
        type="submit"
        class="btn btn-primary"
      >Save
      </button>
    </form>
  </div>
</div>
