<div class="col mt-3">
  <div class="card" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">Свяжитесь со мной</h5>
      <p class="card-text">Я расскажу больше о своем блоге.
        720044 Кыргызстан, г. Бишкек, пр. Ч. Айтматова, 55
        test-mail@gmail.com</p>
      <p><strong>+996 312 55 55 55 <br> +996 999 99 99 99</strong></p>
    </div>
  </div>
</div>
