<div class="row mt-2">
  <div class="col" *ngIf="post">
    <h1>Post details</h1>
    <hr>
    <h3>{{ post.title }}</h3>
    <p><strong>{{ post.description }}</strong></p>
    <p>{{ post.dateCreated }}</p>
    <hr>
    <button class="btn btn-secondary" routerLink="/id/edit">Edit</button>&nbsp;
    <button class="btn btn-danger" (click)="delete()">Delete</button>
  </div>
</div>
