<div class="card mb-2">
  <div class="row no-gutters">
    <div class="col-sm-8">
      <div class="card-body">
        <h5 class="card-title">{{ post.title }}</h5>
        <p class="card-text small">{{ post.dateCreated }}</p>
        <button class="btn btn-dark" [routerLink]="post.id">Read more</button>
      </div>
    </div>
  </div>
</div>
